.login-container {
  background: $topaz url(../assets/img/bg.jpeg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 5%;
}

.login {
  padding: 0 $login-side-padding 7.8125rem;
  background-color: $topaz;
  border-radius: $small-radius;
  color: $white;
  font-family: 'Roboto Condensed', sans-serif;

  header {
    padding-top: 2.25rem;

    h1 {
      line-height: 3.625rem;
      font: {
        weight: 300;
        size: 2.5rem;
        family: 'Roboto Condensed', sans-serif;
      }
    }

    p {
      font-weight: 300;
      font-size: .9375rem;
    }
  }

  .avatar {
    width: $avatar-dimension;
    height: $avatar-dimension;
    background-color: $white;
    border-radius: 100%;
    margin: $avatar-dimension / 2 auto 0;
    position: relative;
    top: $avatar-dimension / 2;
    overflow: hidden;

    img {
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
    }
  }

  form {
    padding: 4.625rem 1.25rem;
    border: 1px solid $white-opaque;
    border-radius: $small-radius;
    font: {
      size: 1.125rem;
      weight: 700;
    }
    .client-id, .password {
      border-radius: $small-radius;
      margin-bottom: 0;

      & + .error-msg {
        background-color: $red;
        width: 100%;
        padding: .3125rem;
        display: none;
        margin-top: .9375rem;
        position: relative;
        border-radius: $small-radius;
        color: $white;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: -.9375rem;
          left: .9375rem;
          width: .9375rem;
          border: {
            left: transparent .46875rem solid;
            right: transparent .46875rem solid;
            bottom: $red .9375rem solid;
          }
        }
      }

      &.error {
        border-color: $red;

        & + .error-msg {
          display: block;
        }
      }
    }

    .id-number {
      display: inline-block;
      line-height: 1.75rem;
    }

    .change-id {
      border-radius: $full-radius;
      background-color: $white-opaque;
      color: $white;
      padding: 0 .3125rem;
      cursor: pointer;

      &:hover, &:focus {
        color: $black;
        background-color: $white;
      }
    }

    .password-container {
      margin: 1.3125rem auto;

      //.password {
      //  border-radius: $small-radius;
      //  margin-bottom: 0;
      //
      //  & + .error-msg {
      //    text-align: left;
      //    color: $red;
      //    display: none;
      //  }
      //
      //  &.error {
      //    border-color: $red;
      //
      //    & + .error-msg {
      //      display: block;
      //    }
      //  }
      //}

    }
    .keyboard {
      margin: 0 0 0 -.9375rem;
      border-radius: $medium-radius;

      &:hover, &:focus {
        background-color: $white-opaque;
      }
    }
  }

  .select {
    color: $white;
    width: 100%;
    font: {
      size: .9375rem;
      weight: 300;
    }

    &:hover, &:focus {
      color: $black;
    }
  }

  .go {
    color: $black;
    background-color: $white;
    border-radius: $small-radius;
    width: 100%;
    font: {
      size: 1rem;
      weight: 300;
    }

    &:hover, &:focus {
      background-color: $white-opaque;
      color: $white;
      font-weight: 700;
    }
  }
}

footer {

  .menu {
    padding: .6875rem 0;

    a {
      color: $white;
      opacity: 0.8;
      padding-left: 0;
      font: {
        size: .6875rem;
        weight: 700;
      }

      &:hover, &:focus {
        color: $topaz;
      }
    }
  }
}
